$nav-button-border-width:5px; //导航按钮边框的大小
$negative-nav-button-border-width:-5px; //导航按钮边框的大小的负数
$nav-button-size:60px; //导航按钮的大小
:host {
  width: 100%; // height: 100%;
}

.background-image-center {
  background-position: center;
  // background-repeat: no-repeat;
  background-size: cover;
}

.slide-wrapper {
  width: 100%; // height:734px;
  position: relative;
}

.slide-box {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  overflow: hidden;
  z-index: 1
}

.slide-box .slide {
  display: none;
  width: 100%;
  position: absolute;
}

.slide-box .background-slide {
  display: block;
  width: 100%;
  opacity: 0;
}

.slide-box .slide.active {
  display: block;
}

.slide-box .slide img {
  display: inline-block;
  // width: 100%;
  // height: auto;
  vertical-align: middle;
}

.slide-box .background-slide img {
  display: inline-block;
  // width: 100%;
  // height: auto;
  vertical-align: middle;
}

.nav-button {
  position: relative;
  z-index: 2;
  background: none;
  font-family: FontAwesome;
  font-weight: 100;
  cursor: pointer;
  min-width: 70px;
  min-height: 70px;
  position: absolute;
  display: flex;
  z-index: 100;
  border-radius: 35px;
  overflow: hidden;
  justify-content: center;
}

.nav-button i {
  position: absolute;
  z-index: 2;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.582);
  line-height: 70px;
  width: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.nav-button .nav-button-img-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav-button .nav-button-img-wrapper:before {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
}

.nav-button .nav-button-img-wrapper .nav-button-img-holder {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all ease 0.5s;
}

.nav-button:hover .nav-button-img-wrapper .nav-button-img-holder {
  transform: scale(1);
  transition: all ease 0.5s;
}

.left-button-wrapper {
  top: 50%;
  transform: matrix(1, 0, 0, 1, 30, -35);
  left: 0px;
  visibility: hidden;
}

.slide-wrapper:hover .left-button-wrapper,
.slide-wrapper:hover .right-button-wrapper {
  animation: showNav 1s forwards;
}

.slide-wrapper:not(:hover) .left-button-wrapper,
.slide-wrapper:not(:hover) .right-button-wrapper {
  animation: hideNav 1s;
}

.left-button-wrapper i {
  margin-left: -6%;
}

.right-button-wrapper {
  top: 50%;
  transform: matrix(1, 0, 0, 1, -100, -35);
  left: 100%;
  visibility: hidden;
}

.right-button-wrapper i {
  margin-left: 6%;
}

@keyframes showNav {
  from {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes hideNav {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: visible;
    opacity: 0;
  }
}

.nav-pagination-wrapper {
  width: 100%;
  height: $nav-button-size;
  position: absolute;
  bottom: 35px;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.nav-pagination-wrapper .nav-pagination {
  box-sizing: border-box;
  border-radius: 50%;
  width: $nav-button-size;
  height: $nav-button-size;
  margin-right: 10px + $nav-button-border-width * 2;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.794) 2px 2px 5px 3px;
  position: relative;
  border: $nav-button-border-width rgba(0, 255, 255, 0) solid;
  background-origin: padding-box;
}

.nav-pagination-wrapper .nav-pagination:active {
  box-shadow: none;
}

.nav-pagination-wrapper .nav-pagination:last-child {
  margin-right: 0px;
}

.circle-wrapper {
  width: calc(50% + #{$nav-button-border-width} * 2);
  height: calc(100% + #{$nav-button-border-width} * 4);
  overflow: hidden;
  position: absolute;
}

.circle-wrapper.left {
  left: $negative-nav-button-border-width * 2;
  top: $negative-nav-button-border-width * 2;
}

.circle-wrapper.right {
  right: $negative-nav-button-border-width * 2;
  top: $negative-nav-button-border-width * 2;
}

.circle-wrapper .circle {
  // width: calc(200% + #{$nav-button-border-width} * 2);
  // height: calc(100% + #{$nav-button-border-width} * 2);
  width: calc(200%);
  height: calc(100%);
  border-radius: 50%;
  border: $nav-button-border-width rgba(255, 255, 255, .5) solid;
  position: absolute;
  opacity: 0;
}

.circle-wrapper.left .circle {
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(calc(0deg - 135deg));
}


.nav-pagination-wrapper .nav-pagination.active .circle-wrapper.left .circle {
  animation: animation-slide-nav-left 3s linear 3s both;
}

.circle-wrapper.right .circle {
  border-left-color: transparent;
  border-bottom-color: transparent;
  right: 0px;
  transform: rotate(calc(0deg - 135deg));
}

.nav-pagination-wrapper .nav-pagination.active .circle-wrapper.right .circle {
  animation: animation-slide-nav-right 3s linear 0s both;
}

@keyframes animation-slide-nav-left {
  0% {
    opacity: 1;
    transform: rotate(calc(0deg - 135deg));
  }
  100% {
    opacity: 1;
    transform: rotate(calc(45deg));
  }
}

@keyframes animation-slide-nav-right {
  0% {
    opacity: 1;
    transform: rotate(calc(0deg - 135deg));
  }
  100% {
    opacity: 1;
    transform: rotate(calc(45deg));
  }
}

.ratio-1 .circle-wrapper.left .circle {
  transform: rotate(calc(225deg));
  /*transform: rotate(calc(45deg));*/
}

.ratio-1 .circle-wrapper.right .circle {
  transform: rotate(calc(0deg - 135deg + 360deg / 100 * 1));
  /*transform: rotate(calc(0deg - 135deg));*/
}

.animation-played-inherit {
  animation-play-state: inherit !important;
}

.circle-wrapper.paused.left .circle {
  animation: none;
  transform: rotate(45deg) !important;
}

.circle-wrapper.paused.right .circle {
  animation: none;
  transform: rotate(45deg) !important;
}