<div class="slide-wrapper" [ngStyle]="{'height': wrapperHeight}">
  <ul class="slide-box">
    <li class="slide animated" [ngClass]="{active: slide.active}" 
    *ngFor="let slide of carouselOption.slides;let i = index"
    >
      <img class [src]="slide.imgURL">
    </li>
    <li class="background-slide">
      <img src="./assets/img/carousel/slide1.jpg">
    </li>
  </ul>
  <div class="nav-button left-button-wrapper" (click)="prev()">
    <i class="fa fa-chevron-left"></i>
    <div class="nav-button-img-wrapper ">
        <div 
          class="nav-button-img-holder background-image-center" 
          [ngStyle]="{'background-image': 'url(\''+carouselOption.slides[prevIndex]?.imgURL+'\')'}"
        >
        </div>
      </div>
  </div>
  <div class="nav-button right-button-wrapper" (click)="next()">
    <i class="fa fa-chevron-right"></i>
    <div class="nav-button-img-wrapper">
      <div 
        class="nav-button-img-holder background-image-center" 
        [ngStyle]="{'background-image': 'url(\''+carouselOption.slides[nextIndex]?.imgURL+'\')'}"
      >
      </div>
    </div>
  </div>
  <div class="nav-pagination-wrapper">
    <div class="nav-pagination background-image-center" 
    *ngFor="let slide_p of carouselOption.slides;let i_p = index;" 
    [ngStyle]="{'background-image': 'url(\''+carouselOption.slides[i_p]?.imgURL+'\')'}"
    (click)="changeSlide(i_p)"
    ></div>
  </div>
</div>
