mat-toolbar .logo {
  margin-left: 1em;
  margin-right: 1em;
}
.lee-header{
  position: relative;
  z-index:102;
}
.menu{
  display: flex;
  justify-content: flex-start;
}
.menu .menu-button{
  font-size: 20px;
  margin-left: 1em;
}
