<mat-toolbar class="lee-header mat-elevation-z18" color="primary"
  [ngClass]="{'top': isTop}"
>
  <button mat-icon-button (click)="doSideNavToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon class="logo" svgIcon="logo"></mat-icon>
  <h1 class="lee-app-name">{{app.app.title}}</h1>
  <div class="menu fill-remaining-space">

    <div *ngFor="let item of app.header.items; let i=index" 
     class="menu-button-wrapper"
     [ngClass]="{'active': item.active,'focus':item.focus}">
      <div class="menu-sub-show-wrapper" (click)="item.focus = false;" [ngStyle]="{'width': viewport.width + 'px','height':viewport.height + 'px'}"></div>
      <button routerLinkActive="active"
       class="menu-button" mat-button 
       (click)="menuButtonClick(i)"
       >
        {{item.text}}
      </button>
      <div class="submenu" 
      [ngClass]="{'focus': item.focus}"  
      *ngIf="item.subItems != null">
        <div *ngFor="let subItem of item.subItems; let sub_i=index" class="submenu-button-wrapper">
          <button class="submenu-button" mat-button (click)="submenuButtonClick(i,sub_i)">
            {{subItem.text}}
          </button>
        </div>
      </div>
    </div>

    <!-- 当按钮多的时候显示 -->
    <!-- <button mat-icon-button [matMenuTriggerFor]="elseMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #elseMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item> Settings </button>
      <button mat-menu-item> Help </button>
    </mat-menu> -->

  </div>
  <div class=""></div>
  <div>
    <button mat-icon-button>
      <mat-icon>color_lens</mat-icon>
    </button>
  </div>
</mat-toolbar>
