<mat-sidenav-container class="lee-sidenav-container">
  <!-- <mat-sidenav #snav [opened]="sideNavOpened" [mode]="mobileQuery.matches ? 'over' : 'side'" > -->
  <mat-sidenav #snav [opened]="sideNavOpened" [mode]="true ? 'over' : 'side'">
    <mat-nav-list>
      <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
    </mat-nav-list>
  </mat-sidenav>

  
  <mat-sidenav-content class="lee-main-content" (scroll)="contentScroll($event)">
    <app-header class="fixed" (sideNavToggle)="snav.toggle()" [ngStyle]="{'width': container.clientWidth + 'px'}"></app-header>
    <div #container class="fluid-container" [ngStyle]="{
      'min-height':viewportSize.height - app.footer.height+'px',
      'margin-top':isMarginTop? app.footer.height+'px' : '0px'}"
    >
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
