<div class="lee-tab-box lee-bg-img-center">
  <div class="container lee-flex-box-col lee-main-container">
    <div class="lee-content-title lee-margin-top-2em">
      <h3 class="lee-font-34 lee-font-center lee-font-bold" [innerHTML]="app.indexTab.title">
      </h3>
      <p class="lee-font-center" [innerHTML]="app.indexTab.subTitle"></p>
      <!-- <div class="c-line-center c-theme-bg"></div> -->
    </div>
    <div class="lee-content"
      >
      <div class="lee-tab-nav-wrapper">
        <div 
          class="lee-tab-nav-button"
          *ngFor="let tab of app.indexTab.tab; let i=index"
          [ngClass]="{'active': tab.active}">
          <button mat-button (click)="changeTab(i)" 
            class="nav-button"><span [innerHTML]="tab.id"></span></button>
        </div>
      </div>
      <div class="lee-tab-des-wrapper">
        <div 
          class="lee-flex-box lee-css-border-radius-1% lee-bg-img-contain-center lee-tab-des"
          *ngFor="let tab of app.indexTab.tab; let i=index"
          
          [ngClass]="{'active': tab.active}">
          <div class="des-img"><img [src]="app.assets.asssetsImgTech+'/react.svg'" [alt]="tab.id"></div>
          <div class="text-box">
            <div class="text-title"  [innerHTML]="tab.title"></div>
            <div class="text-subTitle"  [innerHTML]="tab.subTitle"></div>
            <div class="text-text"  [innerHTML]="tab.text"></div>
            <div class="text-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
