.lee-footer {
  padding: 12px;
  display: flex;
  justify-content: center;
}

.lee-footer .lee-email-link {
  color: black;
}

.lee-footer .lee-ICP-icon {
  position: relative;
  bottom: 0px;
  vertical-align: top;
}

.lee-footer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  flex: 1 1 auto;
}

.lee-footer-wrapper span {
  text-align: center;
}

.lee-ICP {
  position: relative;
}

.lee-footer-xl .lee-footer-wrapper,
.lee-footer-lg .lee-footer-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.lee-footer-xs .lee-footer-wrapper,
.lee-footer-sm .lee-footer-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.lee-footer-md .lee-footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.lee-footer-md .lee-footer-wrapper .lee-ICP {
    grid-column: 1 / span 2;
}

.lee-footer-xs .lee-footer-wrapper .lee-ICP,
.lee-footer-sm .lee-footer-wrapper .lee-ICP, {
    grid-column: 1 / span 1;
}

.lee-footer-md .lee-footer-wrapper .lee-copyright {
    justify-self: flex-end;
}
.lee-footer-md .lee-footer-wrapper .lee-me {
    justify-self: flex-start;
}