.lee-footer {
  padding: 12px;
  display: flex;
  justify-content: center;
}

.lee-footer .lee-email-link{
    color: black;
}

.lee-footer .lee-ICP-icon{
    position: relative;
    bottom: -7px;
}