$margin-img-each:0.5em;
.lee-music-box>.lee-flex-box {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lee-music-box {
  padding-bottom: 0;
}

.lee-music-box .music-page-sum {
  width: 7em;
  margin-left: $margin-img-each * 2;
}

.lee-music-box.lee-music-box-xs .lee-music-paginator{
  display: none;
}

.lee-music-box>.lee-flex-box:after {
  content: " ";
  flex: auto;
}

.lee-music-box .lee-flex-box li {
  width: 20%;
  height:25rem;
}

.lee-music-box .lee-flex-box li .album-box {
  height: 100%;
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 0.5fr 0.5fr;
  padding: $margin-img-each 1em;
}

.lee-music-box .lee-flex-box li .album-img-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.lee-music-box .lee-flex-box li .album-img {
  display: block;
  width: 100%;
  height: 100%;
}

.lee-music-box .lee-flex-box li .album-name {
  justify-content: flex-start;
}

.lee-music-box .lee-flex-box li .album-name .album-name-title {
  justify-content: flex-start;
  cursor: pointer;
}

.lee-music-box .lee-flex-box li .album-artists {
  justify-content: flex-start;
  text-overflow: ellipsis;
}

.lee-music-box .lee-flex-box li .album-artists .album-artist {
  cursor: pointer;
}
