/* You can add global styles to this file, and also import other style files */

@import './assets/theme/material/theme.css';
html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
}
app-root{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.full-width {
  width: 100%;
}

.fill-remaining-space {
  // 使用 flexbox 填充剩余空间
  // @angular/material 中的很多控件使用了 flex 布局
  flex: 1 1 auto;
}

button {
  outline: none !important;
}

.lee-main-content{
  padding: 15px;
}

.lee-sidenav-container {
  flex: 1;
}
