/* You can add global styles to this file, and also import other style files */

@import './assets/theme/material/theme.css';
html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

a{
  text-decoration: none;
}

.lee-primary {
  background-color: #673ab7;
  color: rgba(255, 255, 255, .87);
}

.lee-accent {
  background-color: #ffd740;
  color: rgba(0, 0, 0, 0.87);
}

.lee-warn {
  background-color: #f44336;
  color: white;
}

.lee-basic {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.full-width {
  width: 100%;
}

.fill-remaining-space {
  // 使用 flexbox 填充剩余空间
  // @angular/material 中的很多控件使用了 flex 布局
  flex: 1 1 auto;
}

button {
  outline: none !important;
}

.lee-main-content {
  padding: 15px;
}

.lee-sidenav-container {
  flex: 1;
}

.fixed {
  // position: fixed;
  // width: 100%;
}

.lee-bg-img-center {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lee-bg-img-contain-center {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.lee-row {
  margin-left: 0px;
  margin-right: 0px;
}

.lee-col {
  padding-left: 0px;
  padding-right: 0px;
}

.lee-font-center {
  text-align: center;
}

.lee-font-bold {
  font-weight: bold;
}

@for $i from 16 through 40 {
  .lee-font-#{$i} { font-size: #{$i}px; }
}

@for $i from 1 through 5 {
  .lee-margin-top-#{$i}em { margin-top: #{$i}em; }
  .lee-margin-bottom-#{$i}em { margin-bottom: #{$i}em; }
  .lee-padding-right-#{$i}em { padding-right: #{$i}em; }
  .lee-css-border-radius-#{$i} {border-radius: $i * 2px ;}
  .lee-font-weight-#{$i} {font-weight:$i * 100;}
}

.lee-layer{
  position: absolute;
  z-index: 0;
}
.lee-black-bg{
  background-color: black;
  width: 100%;
  height: 100%;
}

.lee-white{
  background-color:white; 
}

@for $i from 1 through 9 {
  .lee-opacity-#{$i} { opacity: 0.1 * $i; }
}


.lee-flex-box{
  display: flex;
}

.lee-flex-box-col{
  display: flex;
  flex-direction: column;
}

.lee-flex-box-center{
  justify-content: center;
  align-content: center;
  align-items: center;
}

.lee-text-hide{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.lee-flex-fill-remain{
  flex:auto;
}

.lee-fixed{
  position: fixed;
}

.lee-fixed.lee-layer{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.lee-ul-no-style{
  list-style: none;
  padding-left:0;
}

.lee-container-box{
  margin:0 1.5em;
  padding:1.5em 0;
}